.map-student-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.map-student{
    background-color: var(--background-2);
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}

.map-table{
    background-color: var(--background-2);
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}