

.container1 table {
  width: 100%;
  /* border-collapse: collapse; */
  border: 1px solid rgb(134, 132, 132);
  border-radius: 5px;
  
}

.container1 th, .container1 td {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.container1 th {
  font-weight: bold;
  background-color: #cbcaca;
}

.container1 th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}

.container1 th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}

.container1 td {
  /* border: 1px solid black; */
}

.container1 .footer {
  background-color: #524949;
  font-weight: bold;
  /* border: 2px solid black; */
}

.container1 .footer:first-child {
  border-bottom-left-radius: 8px;
}

.container1 .footer:last-child {
  border-bottom-right-radius: 8px;
}
