.custom-table th,
.custom-table td {
  padding: 15px; 
}

.table-container{
 padding: 20px 10px;
 background-color: var(--background-2);
 border-radius: 5px;
}
.custom-table th {
  font-weight: bold;
  background-color: #1e2631;
  color:white;

}

.custom-table td {
  vertical-align: middle;
}

.custom-table .MuiButton-root {
  min-width: 130px; 
}

.custom-table .MuiTableCell-root {
  border-bottom: 1px solid #ddd; 
}

.custom-table .MuiTablePagination-root {
  padding: 0 16px; 
}

.status-button{
  border: none;
  padding: 5px 10px 7px 10px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  
 
}

.custom-table td{
  font-weight: 600;
}
  h2{
    margin: 0;
  }

.time{
  font-weight: 600;
}

.leave-container {
  display: flex;
  /* flex-direction: row; */
  gap: 20px;
  padding: 20px;
}

.leave-card {
  background-color: #dde6ff;
  border: 1px solid rgb(143, 143, 255);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 display: flex;
 flex-direction: column;
 
}

.leave-box{
display: flex;
/* flex: 1; */
}
.leave-card h3 {
  margin-top: 0;
}

.leave-card p {
  margin: 5px 0;
}

.approve-button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #65ff81;
  border: 1px solid green;
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}

.reject-button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff8282;
  border: 1px solid red;
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}
.approve-button:hover {
  color: var(--text);
  background-color: #45a049;
}
.reject-button:hover {
  color: var(--text);
  background-color: #e00909;
}

@media (max-width:999px){
  .leave-container{
    flex-direction: column;
  }
}

.noresult{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;

}