.custom-table th,
.custom-table td {
  padding: 15px; 
  text-align: center;
  width: 10%;
}

.table-container{
  padding: 10px;
}
.custom-table th {
  font-weight: bold;
  background-color: #142d4c;
  color: white;
;
}

.custom-table td {
  vertical-align: middle;
}

.custom-table .MuiButton-root {
  min-width: 130px; 
}

.custom-table .MuiTableCell-root {
  border-bottom: 1px solid #ddd; 
}

.custom-table .MuiTablePagination-root {
  padding: 0 16px; 
}

.status-button{
  border: none;
  padding: 5px 10px 7px 10px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  
 
}

  h2{
    margin: 0;
  }

.time{
  background-color: rgba(147, 169, 188, 0.352);
  border-radius: 5px;
}

.leave-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.leave-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.leave-card h3 {
  margin-top: 0;
}

.leave-card p {
  margin: 5px 0;
}

.approve-button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}

.reject-button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff2a2a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}
.approve-button:hover {
  background-color: #45a049;
}
.reject-button:hover {
  background-color: #e00909;
}