.count-box{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.count{
    padding: 20px;
    border-radius: 10px;
    display: flex;  
    gap: 40px;
    align-items: center;
    box-shadow: var(--background-2);
    flex: 1;
    
}
.img-no{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    margin: 0;
}
h3{
    margin: 0;
}
.count-p{
    font-size: 45px;
    font-weight: 650;
}

.att-chart{
    background-color: var(--background-2);
    border-radius: 5px;
   flex: 1;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   max-height: 450px;
    }

.s-table{
    flex: 1.5;   
}
.attendance{
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--background-2);
  border-radius: 5px;
  height: fit-content;
  padding: 5px;
}

.student-table{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  /* overflow-x: auto; */
  height: fit-content;
  gap: 10px;
}
.ch-table{
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
@media (max-width: 1600px) {
  .count-box {
    grid-template-columns: repeat(5, 1fr); 
  }
}

@media (max-width: 1500px) {
    .count-box {
      grid-template-columns: repeat(3, 1fr); 
    }
    .attendance{
      max-width: 100%;
      /* overflow: scroll; */
    }
  }
  
  @media (max-width: 768px) {
    .count-box {
      grid-template-columns: repeat(2, 1fr);
    }
    .count{
        flex-direction: row;
        gap: 5px;
        padding: 10px;
    }
    .ch-table{
        flex-direction: column-reverse;
    }
    .count-p{
      font-size: 30px;
    }
  }
  MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    padding: 0px;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
  margin-left: 0px;
}

  .m-table{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--background-2);
    max-width: 95vw;
    overflow-x: scroll;
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px; */
  }
  