.holidays-page {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-holidays-div {
    flex: 1;
    display: flex;
    align-items: center;

}

.rmdp-input {
    width: 630%;
    padding: 20px;
}

.mon-name {
    margin: 0px;
    padding: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1e2631;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* font-family: "Hind", sans-serif; */
}

.display-holidays-grid {
    background-color: var(--background-2);
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    border: 0.5px solid rgba(128, 128, 128, 0.582);
}

.div-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 5px;
    flex: 10;
    padding: 10px;

}

.holiday-item {
    border: 1px solid #ccc;
    padding: 5px;
    color: var(--text);
    text-align: center;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--background-2);
    border-left: 7px solid #4dcd6e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-family: "Hind", sans-serif;
    font-weight: 600;
}

.no-items {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text);
    height: 220px;
}

.delete-icon-div {
    background-color: #4a3d884b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1px;
    padding: 2px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color: white;
    position: relative;
    bottom: 12px;
    left: 16px;
    cursor: pointer;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#time-up {
    display: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A40;
    color: white;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.counter-timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: fl; */
}

.counter-timer {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

span {
    color: #c7c7c7;
    font-size: 18px;
}

@media screen and (max-width : 900px) {
    .counter-timer {
        font-size: 30px;
        font-weight: 600;
    }

    span {
        font-size: 12px;
    }

    .display-holidays-grid {
        height: 250px;
    }

    .no-items{
        height: 185px;
    }

}

.date-img{
    height: 120px;
}