.text-input {
  height: 36px;
  border-radius: 4px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid rgb(137, 151, 155);
  transition: border-color 150ms ease-in-out 0s;
  outline: none;
  color: var(--text);
  background-color: var(--background-2);
  padding-right: 12px;
}
  
  
.text-input:hover{
      box-shadow: rgb(231 238 236) 0px 0px 0px 1px;
}
