.sem-dates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sem-dates-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-2);
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    max-width: 400px;
    width: 100%;
}

.sem-select {
    width: 100%;
    z-index: 1000;
}

.submit-btn {
    align-self: flex-end;
}
