.button{
    padding: 7px 20px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: #84e0be;
    border-radius: 5px;
    border: 1px solid #4ad19f;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 5px;
}

.button:hover{
    background-color: #9be3d2;
}
