.time-slot-form-container{
    background-color: var(--datepicker);
    border-radius: 10px;
}
.time-form{
    width: 100%;
}
.time-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.react-select{
    z-index: 2;
}