.total-login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f6fa;
}

.login-card {
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    min-width: 350px;
}

@media (max-width:999px){
    .login-card{
        height: fit-content;
        margin: 20px;
    }

    .error-card{
        height: fit-content;
        width: 80%;
    }
}

.signin-button {
    padding: 7px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(223, 219, 219, 0.185);
        font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.google-logo {
    height: 30px;
}

.login-image {
    width: 100%;
}



/* error */


.error-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-2);
}

.error-card{
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    
}

.error-img{
    height: 500px;
}