

.report-flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}

.absentReport{
    background-color: var(--background-2);
    padding: 10px;
    border-radius: 10px;
}

.presentReport{
    background-color: var(--background-2);
    padding: 10px;
    border-radius: 10px;
}
.select-date{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:999px){
    .select-date{
        flex-direction: column;

    }
    .report-flex{
        grid-template-columns: repeat(1,1fr);
    }
}