.dashboard-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attendance-percentage-and-status {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width:900px){
    .attendance-percentage-and-status{
        flex-direction: column;
    }
    
}

.dropdown{
    display: flex;
}
.label-dropdown{
    flex: 1;
}

.student-details-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    flex: 2;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.icons-flex{
    display: flex;
    flex-direction: column;
}

.attendance-percent-container {
    flex: 4.5;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.attendance-summary {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    height: 100%;
}

.summary-item {
    background-color: #ffffff;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    padding: 7px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 5px 0px;
    border-radius: 5px;
}


.attendance-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.summary-item:nth-child(4),
.summary-item:nth-child(5) {
    grid-column: span 1;
}

@media (max-width: 768px) {
    .attendance-summary {
        grid-template-columns: repeat(2, 1fr);
    }
    .att_det{
        flex-direction: column;
    }
}

/* @media (max-width: 480px) {
    .attendance-summary {
        grid-template-columns: 1fr;
    }
} */

.leave-details {
    flex: 1;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 5px;
    max-height: 492px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.att_det_today {
    flex: 1;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    justify-content: space-around;

}

.att_det_others {
    flex: 1;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 5px;
    


}

.att_det {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.student-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px;
    gap: 5px;
}

.detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-label {
    font-weight: 600;
}

h5,
h4 {
    margin: 10px;
}