.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
}

.button-container {
    margin-bottom: 20px;
    background-color: var(--background-2);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-button {
    background-color: var(--background-1);
    color: var(--text);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: var(--button-hover);
}

.page-container {
    width: 100%;
    padding: 20px;
    background-color: var(--background-1);
    border-radius: 10px;
}

.placeholder {
    text-align: center;
    font-size: 18px;
    color: #6c757d;
}
.time-slot-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
 
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* .submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
   */