/* styles.css */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    background-color: white;
    border-radius: 5px;
}

.form-container > div {
    display: flex;
    flex-direction: column;
}

.form-container .MuiTextField-root {
    margin-bottom: 16px; /* Adds spacing below each TextField */
}

.form-container .react-select__control {
    margin-bottom: 16px; /* Adds spacing below each React Select dropdown */
}

@media (max-width: 768px) {
    .form-container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
